/* Main container fits screen */
.main-container {
  display: flex;
  height: calc(100vh - 60px); /* subtract toolbar */
  overflow: hidden;           /* prevent horizontal overflow */
}
.menu-toggle{
    display: flex;
    justify-content: end;
    color: #1d1c1c;
}

/* Sidebar */
.side-bar {
  color: #4C4C4C;
  height: 100%;
  transition: width 0.3s;
  overflow-y: auto;  
  width: 200px;
  overflow-x: hidden;
}




/* Main content */
.content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
  background-color: #F8F8F8;
  min-width: 0;  
}

/* Row reset for Bootstrap */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Toolbar search responsive */
.search-field {
  max-width: 400px;
  width: 100%;
}


.nav-items{
    display: flex;
    width: 100%;
    align-items: self-end;
    margin: 10px;
    font-size: 18px;    
    padding:6px 12px;
    text-decoration: none;
    font-weight: 600;
}


.navbar-title{
    margin: 0px 10px;
}

.nav-items:hover{
    cursor: pointer;
    background-color: #98909076;
    border-radius: 5px;
    
}