<div class="container-fluid bg-body py-5 px-5 rounded-4">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="text-center">Register New Patient</h4>

      <form [formGroup]="form" (click)="submit()">
        <div class="row">
          <div class="col-4">
            <!-- fullname -->
            <div class="mt-3">
              <label for="name" class="form-label"
                >FullName <span class="text-danger">*</span></label
              >
              <input
                type="text"
                placeholder="Fullname"
                formControlName="name"
                class="form-control text-decoration-none"
              />
              @if (f['name'].invalid && (f['name'].touched || f['name'].dirty)) {
                <div class="text-danger">
                  @if (f['name'].errors?.['required']) {
                    <div>Name Field Is Required</div>
                  }
                </div>
              }
            </div>

            <!-- age -->
            <div class="mt-3">
              <label for="age" class="form-label">Age <span class="text-danger"> *</span></label>
              <input
                type="text"
                id="age"
                placeholder="Age"
                class="form-control"
                formControlName="age"
                readonly
                [value]="currentAge"
              />
              <!-- <div *ngIf="form.get('age')?.invalid && form.get('age')?.touched" class="text-danger">Age is Required </div> -->
            </div>

            <!-- phone -->
            <div class="mt-3">
              <label for="contact" class="form-label">Contact No</label>
              <input
                type="text"
                id="contact"
                placeholder="Phone No"
                class="form-control"
                formControlName="phoneNo"
              />
            </div>
          </div>
          <div class="col-3">
            <!-- address -->
            <div class="mt-3">
              <label for="add" class="form-label">Address <span class="text-danger">*</span></label>
              <input
                id="add"
                type="Address"
                placeholder="Address"
                formControlName="address"
                class="form-control"
              />
            </div>
            <!-- Gender -->
            <div class="mt-3">
              <label for="gender" class="form-label">Gender </label>
              <select class="form-select" id="gender" formControlName="gender">
                <option value="">Select Gender</option>
                <option [value]="0">Male</option>
                <option [value]="1">Female</option>
                <option [value]="2">Others</option>
              </select>
            </div>
            <!-- Citizenship No -->
            <div class="mt-3">
              <label for="ctno" class="form-label">CitizenShip No: </label>
              <input
                type="text"
                placeholder="CitizenShip No"
                id="ctno"
                formControlName="citizenshipNo"
                class="form-control"
              />
            </div>
          </div>
          <!-- dob -->

          <div class="col-4">
            <div class="mt-3">
              <label for="dob" class="form-label">Date of Birth</label>
              <input
                type="date"
                id="dob"
                placeholder="Date-of-birth"
                (change)="getAge(form.get('dateOfBirth')?.value)"
                class="form-control"
                formControlName="dateOfBirth"
              />
            </div>
            <!-- Regligion -->
            <div class="mt-3">
              <label for="religon" class="form-label">Religion</label>
              <select class="form-select" id="religion" formControlName="religion">
                <option value="">Religion</option>
                <option *ngFor="let religon of Religons" [value]="religon">
                  {{ religon }}
                </option>
              </select>
            </div>

            <div class="mt-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                placeholder="Email"
                formControlName="email"
                [required]="false"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
          <button type="submit" class="btn mt-3 btn-primary" style="width: 200px">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
